<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>Django User Types</h1>
    
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
    </ul>
    
    
    {% block content %}
    {% endblock content %}
    
</body>
</html>